
.fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('../img/userpagebackground2.jpg');
    background-repeat:repeat;
    margin-top: 53px;
  }
/*  user tab */
div.user-tab-container{
  z-index: 10;
  background-color: rgb(255, 255, 255);
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  margin-top: 50px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.user-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.user-tab-menu ul.list-group{
  margin-bottom: 0;
  list-style:none;
}
div.user-tab-menu ul.list-group>a{
  margin-bottom: 0;
  text-align:center;
    padding: 35px 0;
    background-color: rgb(255, 255, 255);
}
div.user-tab-menu ul.list-group>a .glyphicon,
div.user-tab-menu ul.list-group>a .fa {
  color: #00001a;
}
div.user-tab-menu ul.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.user-tab-menu ul.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}

div.user-tab-menu ul.list-group>a.active,
div.user-tab-menu ul.list-group>a.active .glyphicon,
div.user-tab-menu ul.list-group>a.active .fa{
  background-color: #000;
  background-image: #000;
  color: #FFB03B;
}
div.user-tab-menu ul.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #000;
}

div.user-tab-content{
  background-color: rgb(255, 255, 255);
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.user-tab-content img{
    width: 130px;
    height: 130px;
    border-radius: 100%;
}

div.user-tab div.user-tab-content:not(.active){
  display: none;
}

div.user-tab-content>div>h2{
        font-size: 1em;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
#changedp .btn-primary:hover, #changedp .btn-primary:hover:active{
    background-color: #006dcc;
    color: #FFF; 
    border: #006dcc;
    
}
#changedp .btn-primary{
    box-shadow: 0 0 5px;
}
.btn-file input[type=file]:hover {
    
}
.input-group-addon
{
    background-color: #000;
    border-color: #000;
    color: rgb(255, 255, 255);
}

.form-userdetails input[type="text"],.form-userdetails input[type="password"] { border: 1px solid #FFB03B; }

div.user-tab div.user-tab-content .panel-default{
    background-color: #FFF3E0;
}
.canvas-space button{
    background-color: #FFB03B;
    color: white;
}
.canvas-space{
    color: #FFB03B; 
}
canvas{
    width:500px;
    height: 450px;
    border:2px solid #FFB03B;
    box-shadow: 0 0 3px
    
}

@media (min-width: 768px) {
    div.user-tab-content>div>div>img{
        width: 250px;
        height: 250px;
        border-radius: 100%;
    }   
    div.user-tab-content>div>h2{
        font-size: 2em;
    }
    div.user-tab-content>div>strong{
        font-size: 1.5em;
    }
    .fullscreen_bg {
        margin-top: 100px;
    }
    
}
@media (max-width: 767px){
    .user-tab-content table{
        font-size: 7.5px;
    }
    .user-tab-content .panel-body h3{
        font-size: 14px;
    }
    .user-tab-content .panel-body span{
        font-size: 9px;
    }
    .user-tab-content .panel-body input{
        font-size: 9px;
    }

}
@media (max-width: 979px){
    
canvas{
    width:300px;
    height: 450px;
    border:2px solid #FFB03B;
    box-shadow: 0 0 3px
    
    }
}
@media (max-width: 500px){
    canvas{
    width:150px;
    height: 250px;
    border:2px solid #FFB03B;
    box-shadow: 0 0 3px
    
    }
}

